Repository moraguma/GamutoWare, pull requests merged in 2024-04, with the labels that each got.

#174 Menu overhaul
  principal/cenas/Arcade.tscn
  principal/cenas/CoverButton.tscn
  principal/cenas/Creditos.tscn
  principal/cenas/GameOver.tscn
  principal/cenas/Jam.tscn
  principal/cenas/Jogo.tscn
  principal/cenas/Menu.tscn
  principal/cenas/MinigameButton.tscn
  principal/cenas/MinigameDisplay.tscn
  principal/cenas/MinigameSelector.tscn
  principal/cenas/Play.tscn
  principal/cenas/Vitoria.tscn
  principal/cenas/autoloads/TranslationManager.tscn
  principal/cenas/scripts/CoverButton.gd
  principal/cenas/scripts/Creditos.gd
  principal/cenas/scripts/CreditsWinDisplay.gd
  principal/cenas/scripts/Droppable.gd
  principal/cenas/scripts/GameOver.gd
  principal/cenas/scripts/Global.gd
  principal/cenas/scripts/Jogo.gd
  principal/cenas/scripts/MinigameDisplay.gd
  principal/cenas/scripts/Play.gd
  principal/cenas/scripts/PressableButton.gd
  principal/cenas/scripts/SaveFile.gd
  principal/cenas/scripts/SoundController.gd
  principal/cenas/scripts/TranslatableText.gd
  principal/cenas/scripts/TranslationManager.gd
  principal/cenas/scripts/TranslationSetButton.gd
  principal/recursos/data/Minigames.gd
  principal/recursos/sprites/GMTTitleFace.png
  principal/recursos/translations/en.gd
  principal/recursos/translations/pt.gd
  project.godot
Labels: Enhancement

#176 Fix loading bugs
  principal/cenas/scripts/Jogo.gd
Labels: Bug

#181 Projeto do paulo
  microjogos/2024S1/projeto-asteroids/capa.png
  microjogos/2024S1/projeto-asteroids/capa.png.import
  microjogos/2024S1/projeto-asteroids/cenas/asteroid.tscn
  microjogos/2024S1/projeto-asteroids/cenas/bullet.tscn
  microjogos/2024S1/projeto-asteroids/cenas/cenas.txt
  microjogos/2024S1/projeto-asteroids/cenas/explosion_padrao.gif
  microjogos/2024S1/projeto-asteroids/cenas/main.tscn
  microjogos/2024S1/projeto-asteroids/cenas/player.tscn
  microjogos/2024S1/projeto-asteroids/cenas/scripts/asteroid.gd
  microjogos/2024S1/projeto-asteroids/cenas/scripts/bullet.gd
  microjogos/2024S1/projeto-asteroids/cenas/scripts/main.gd
  microjogos/2024S1/projeto-asteroids/cenas/scripts/player.gd
  microjogos/2024S1/projeto-asteroids/cenas/scripts/scripts.txt
  microjogos/2024S1/projeto-asteroids/cenas/scripts/spriteplayer.gd
  microjogos/2024S1/projeto-asteroids/creditos.gd
  microjogos/2024S1/projeto-asteroids/recursos/466866__mikee63__enhanced-blaster-2.ogg
  microjogos/2024S1/projeto-asteroids/recursos/466866__mikee63__enhanced-blaster-2.ogg.import
  microjogos/2024S1/projeto-asteroids/recursos/523091__magnuswaker__shotgun-blast-1.ogg
  microjogos/2024S1/projeto-asteroids/recursos/523091__magnuswaker__shotgun-blast-1.ogg.import
  microjogos/2024S1/projeto-asteroids/recursos/recursos.txt
  microjogos/2024S1/projeto-asteroids/recursos/spaceship.ogg
  microjogos/2024S1/projeto-asteroids/recursos/spaceship.ogg.import
  microjogos/2024S1/projeto-asteroids/recursos/sprites/asteroid.png
  microjogos/2024S1/projeto-asteroids/recursos/sprites/asteroid.png.import
  microjogos/2024S1/projeto-asteroids/recursos/sprites/background.png
  microjogos/2024S1/projeto-asteroids/recursos/sprites/background.png.import
  microjogos/2024S1/projeto-asteroids/recursos/sprites/bullet.png
  microjogos/2024S1/projeto-asteroids/recursos/sprites/bullet.png.import
  microjogos/2024S1/projeto-asteroids/recursos/sprites/explosion.png
  microjogos/2024S1/projeto-asteroids/recursos/sprites/explosion.png.import
  microjogos/2024S1/projeto-asteroids/recursos/sprites/explosion_padrao.gif
  microjogos/2024S1/projeto-asteroids/recursos/sprites/explosion_sprites.png
  microjogos/2024S1/projeto-asteroids/recursos/sprites/explosion_sprites.png.import
  microjogos/2024S1/projeto-asteroids/recursos/sprites/planet1.png
  microjogos/2024S1/projeto-asteroids/recursos/sprites/planet1.png.import
  microjogos/2024S1/projeto-asteroids/recursos/sprites/planet2.png
  microjogos/2024S1/projeto-asteroids/recursos/sprites/planet2.png.import
  microjogos/2024S1/projeto-asteroids/recursos/sprites/player.png
  microjogos/2024S1/projeto-asteroids/recursos/sprites/player.png.import
  microjogos/2024S1/projeto-asteroids/seu projeto.txt
  principal/recursos/data/Minigames.gd
Labels: Complete minigame, Minigame Implementation

#169 Projeto matheus sc
  microjogos/2024S1/projeto-matheusSC/cenas/capa.png
  microjogos/2024S1/projeto-matheusSC/cenas/capa.png.import
  microjogos/2024S1/projeto-matheusSC/cenas/cenas.txt
  microjogos/2024S1/projeto-matheusSC/cenas/main.tscn
  microjogos/2024S1/projeto-matheusSC/cenas/scripts/character.gd
  microjogos/2024S1/projeto-matheusSC/cenas/scripts/controle_cena.gd
  microjogos/2024S1/projeto-matheusSC/cenas/scripts/main.gd
  microjogos/2024S1/projeto-matheusSC/cenas/scripts/scripts.txt
  microjogos/2024S1/projeto-matheusSC/cenas/scripts/selecao.gd
  microjogos/2024S1/projeto-matheusSC/cenas/scripts/seta.gd
  microjogos/2024S1/projeto-matheusSC/creditos.gd
  microjogos/2024S1/projeto-matheusSC/recursos/background.png
  microjogos/2024S1/projeto-matheusSC/recursos/background.png.import
  microjogos/2024S1/projeto-matheusSC/recursos/capa1.png
  microjogos/2024S1/projeto-matheusSC/recursos/capa1.png.import
  microjogos/2024S1/projeto-matheusSC/recursos/confeti.png
  microjogos/2024S1/projeto-matheusSC/recursos/confeti.png.import
  microjogos/2024S1/projeto-matheusSC/recursos/crowd.png
  microjogos/2024S1/projeto-matheusSC/recursos/crowd.png.import
  microjogos/2024S1/projeto-matheusSC/recursos/down_pose.png
  microjogos/2024S1/projeto-matheusSC/recursos/down_pose.png.import
  microjogos/2024S1/projeto-matheusSC/recursos/drop.png
  microjogos/2024S1/projeto-matheusSC/recursos/drop.png.import
  microjogos/2024S1/projeto-matheusSC/recursos/idle.png
  microjogos/2024S1/projeto-matheusSC/recursos/idle.png.import
  microjogos/2024S1/projeto-matheusSC/recursos/left_pose.png
  microjogos/2024S1/projeto-matheusSC/recursos/left_pose.png.import
  microjogos/2024S1/projeto-matheusSC/recursos/lose_pose.png
  microjogos/2024S1/projeto-matheusSC/recursos/lose_pose.png.import
  microjogos/2024S1/projeto-matheusSC/recursos/ohno.png
  microjogos/2024S1/projeto-matheusSC/recursos/ohno.png.import
  microjogos/2024S1/projeto-matheusSC/recursos/recursos.txt
  microjogos/2024S1/projeto-matheusSC/recursos/right_pose.png
  microjogos/2024S1/projeto-matheusSC/recursos/right_pose.png.import
  microjogos/2024S1/projeto-matheusSC/recursos/select.png
  microjogos/2024S1/projeto-matheusSC/recursos/select.png.import
  microjogos/2024S1/projeto-matheusSC/recursos/seta.png
  microjogos/2024S1/projeto-matheusSC/recursos/seta.png.import
  microjogos/2024S1/projeto-matheusSC/recursos/sounds/In the circus PSG2.ogg
  microjogos/2024S1/projeto-matheusSC/recursos/sounds/In the circus PSG2.ogg.import
  microjogos/2024S1/projeto-matheusSC/recursos/sounds/applause.wav
  microjogos/2024S1/projeto-matheusSC/recursos/sounds/applause.wav.import
  microjogos/2024S1/projeto-matheusSC/recursos/sounds/right.wav
  microjogos/2024S1/projeto-matheusSC/recursos/sounds/right.wav.import
  microjogos/2024S1/projeto-matheusSC/recursos/sounds/wrong.wav
  microjogos/2024S1/projeto-matheusSC/recursos/sounds/wrong.wav.import
  microjogos/2024S1/projeto-matheusSC/recursos/up_pose.png
  microjogos/2024S1/projeto-matheusSC/recursos/up_pose.png.import
  microjogos/2024S1/projeto-matheusSC/seu projeto.txt
  principal/recursos/data/Minigames.gd
Labels: Complete minigame, Minigame Implementation

#185 Fix mail-cleaner
  microjogos/2023S1/mail_cleaner/cenas/scripts/main.gd
Labels: Bug

#187 [Typefixer] Fix bug in randomization
  microjogos/2023S1/projeto-guglielmo-223300/cenas/scripts/Teclado.gd
Labels: Bug

#194 Projeto de naomi
  microjogos/2024S1/projeto-naomi/capa.png
  microjogos/2024S1/projeto-naomi/capa.png.import
  microjogos/2024S1/projeto-naomi/cenas/cenas.txt
  microjogos/2024S1/projeto-naomi/cenas/door.tscn
  microjogos/2024S1/projeto-naomi/cenas/enemy.tscn
  microjogos/2024S1/projeto-naomi/cenas/main.tscn
  microjogos/2024S1/projeto-naomi/cenas/player.tscn
  microjogos/2024S1/projeto-naomi/cenas/scripts/enemy.gd
  microjogos/2024S1/projeto-naomi/cenas/scripts/main.gd
  microjogos/2024S1/projeto-naomi/cenas/scripts/player.gd
  microjogos/2024S1/projeto-naomi/cenas/scripts/scripts.txt
  microjogos/2024S1/projeto-naomi/cenas/table.tscn
  microjogos/2024S1/projeto-naomi/creditos.gd
  microjogos/2024S1/projeto-naomi/recursos/13104.jpg
  microjogos/2024S1/projeto-naomi/recursos/13104.jpg.import
  microjogos/2024S1/projeto-naomi/recursos/chao.png
  microjogos/2024S1/projeto-naomi/recursos/chao.png.import
  microjogos/2024S1/projeto-naomi/recursos/enemies.png
  microjogos/2024S1/projeto-naomi/recursos/enemies.png.import
  microjogos/2024S1/projeto-naomi/recursos/entry_door_open_icon_208681.png
  microjogos/2024S1/projeto-naomi/recursos/entry_door_open_icon_208681.png.import
  microjogos/2024S1/projeto-naomi/recursos/mesa.png
  microjogos/2024S1/projeto-naomi/recursos/mesa.png.import
  microjogos/2024S1/projeto-naomi/recursos/peixe.pixil
  microjogos/2024S1/projeto-naomi/recursos/pexe.png
  microjogos/2024S1/projeto-naomi/recursos/pexe.png.import
  microjogos/2024S1/projeto-naomi/recursos/recursos.txt
  microjogos/2024S1/projeto-naomi/recursos/ru da unicamp.png.import
  microjogos/2024S1/projeto-naomi/recursos/ru_da_unicamp-removebg-preview.png
  microjogos/2024S1/projeto-naomi/recursos/ru_da_unicamp-removebg-preview.png.import
  microjogos/2024S1/projeto-naomi/seu projeto.txt
  principal/recursos/data/Minigames.gd
Labels: Complete minigame, Minigame Implementation

#196 Projeto de felipe silva
  microjogos/2024S1/projeto-felipe-silva/capa.png
  microjogos/2024S1/projeto-felipe-silva/capa.png.import
  microjogos/2024S1/projeto-felipe-silva/cenas/Tree.gd
  microjogos/2024S1/projeto-felipe-silva/cenas/anon.tscn
  microjogos/2024S1/projeto-felipe-silva/cenas/bike.tscn
  microjogos/2024S1/projeto-felipe-silva/cenas/mai4815.tmp
  microjogos/2024S1/projeto-felipe-silva/cenas/main.tscn
  microjogos/2024S1/projeto-felipe-silva/cenas/pillar.tscn
  microjogos/2024S1/projeto-felipe-silva/cenas/scripts/Background.gd
  microjogos/2024S1/projeto-felipe-silva/cenas/scripts/Main Character.gd
  microjogos/2024S1/projeto-felipe-silva/cenas/scripts/anon.gd
  microjogos/2024S1/projeto-felipe-silva/cenas/scripts/bike.gd
  microjogos/2024S1/projeto-felipe-silva/cenas/scripts/local-main.gd
  microjogos/2024S1/projeto-felipe-silva/cenas/scripts/main.gd
  microjogos/2024S1/projeto-felipe-silva/cenas/scripts/table.gd
  microjogos/2024S1/projeto-felipe-silva/cenas/table.tscn
  microjogos/2024S1/projeto-felipe-silva/creditos.gd
  microjogos/2024S1/projeto-felipe-silva/recursos/Bike Bell.ogg
  microjogos/2024S1/projeto-felipe-silva/recursos/Bike Bell.ogg.import
  microjogos/2024S1/projeto-felipe-silva/recursos/Bike Bell.ogg.sfl
  microjogos/2024S1/projeto-felipe-silva/recursos/Loyal Protector.ogg
  microjogos/2024S1/projeto-felipe-silva/recursos/Loyal Protector.ogg.import
  microjogos/2024S1/projeto-felipe-silva/recursos/anon.png
  microjogos/2024S1/projeto-felipe-silva/recursos/anon.png.import
  microjogos/2024S1/projeto-felipe-silva/recursos/bacD3C5.tmp
  microjogos/2024S1/projeto-felipe-silva/recursos/background.png.import
  microjogos/2024S1/projeto-felipe-silva/recursos/background1.png
  microjogos/2024S1/projeto-felipe-silva/recursos/background1.png.import
  microjogos/2024S1/projeto-felipe-silva/recursos/background2.png
  microjogos/2024S1/projeto-felipe-silva/recursos/background2.png.import
  microjogos/2024S1/projeto-felipe-silva/recursos/bike.png
  microjogos/2024S1/projeto-felipe-silva/recursos/bike.png.import
  microjogos/2024S1/projeto-felipe-silva/recursos/maincharacter.png
  microjogos/2024S1/projeto-felipe-silva/recursos/maincharacter.png.import
  microjogos/2024S1/projeto-felipe-silva/recursos/pillar.png
  microjogos/2024S1/projeto-felipe-silva/recursos/pillar.png.import
  microjogos/2024S1/projeto-felipe-silva/recursos/table.png
  microjogos/2024S1/projeto-felipe-silva/recursos/table.png.import
  microjogos/2024S1/projeto-felipe-silva/recursos/tre245E.tmp
  microjogos/2024S1/projeto-felipe-silva/recursos/tre514B.tmp
  microjogos/2024S1/projeto-felipe-silva/recursos/tree1.png
  microjogos/2024S1/projeto-felipe-silva/recursos/tree1.png.import
  microjogos/2024S1/projeto-felipe-silva/recursos/tree2.png
  microjogos/2024S1/projeto-felipe-silva/recursos/tree2.png.import
  principal/recursos/data/Minigames.gd
Labels: Complete minigame, Minigame Implementation

#204 Projeto cores
  microjogos/2024S1/projeto-cores/capa.png
  microjogos/2024S1/projeto-cores/capa.png.import
  microjogos/2024S1/projeto-cores/cenas/cenas.txt
  microjogos/2024S1/projeto-cores/cenas/main.tscn
  microjogos/2024S1/projeto-cores/cenas/node_2d.tscn
  microjogos/2024S1/projeto-cores/cenas/scripts/main.gd
  microjogos/2024S1/projeto-cores/cenas/scripts/scripts.txt
  microjogos/2024S1/projeto-cores/creditos.gd
  microjogos/2024S1/projeto-cores/recursos/New Piskel.png
  microjogos/2024S1/projeto-cores/recursos/New Piskel.png.import
  microjogos/2024S1/projeto-cores/recursos/New Piskelspace.png
  microjogos/2024S1/projeto-cores/recursos/New Piskelspace.png.import
  microjogos/2024S1/projeto-cores/recursos/Victory.mp3
  microjogos/2024S1/projeto-cores/recursos/Victory.mp3.import
  microjogos/2024S1/projeto-cores/recursos/img-1-seamless_rainbow.png
  microjogos/2024S1/projeto-cores/recursos/img-1-seamless_rainbow.png.import
  microjogos/2024S1/projeto-cores/recursos/recursos.txt
  microjogos/2024S1/projeto-cores/seu projeto.txt
  microjogos/2024S1/projeto-estrela/075176_duck-quack-40345.mp3.import
  microjogos/2024S1/projeto-estrela/capa.png
  microjogos/2024S1/projeto-estrela/capa.png.import
  microjogos/2024S1/projeto-estrela/cenas/cenas.txt
  microjogos/2024S1/projeto-estrela/cenas/lago.avif
  microjogos/2024S1/projeto-estrela/cenas/lago.tscn
  microjogos/2024S1/projeto-estrela/cenas/main.tscn
  microjogos/2024S1/projeto-estrela/cenas/scripts/CharacterBody2D.gd
  microjogos/2024S1/projeto-estrela/cenas/scripts/PATO.tscn
  microjogos/2024S1/projeto-estrela/cenas/scripts/boia.tscn
  microjogos/2024S1/projeto-estrela/cenas/scripts/lotad.tscn
  microjogos/2024S1/projeto-estrela/cenas/scripts/main.gd
  microjogos/2024S1/projeto-estrela/cenas/scripts/obs1.tscn
  microjogos/2024S1/projeto-estrela/cenas/scripts/obs3.tscn
  microjogos/2024S1/projeto-estrela/cenas/scripts/patinho.gd
  microjogos/2024S1/projeto-estrela/cenas/scripts/patinho.tscn
  microjogos/2024S1/projeto-estrela/cenas/scripts/scripts.txt
  microjogos/2024S1/projeto-estrela/creditos.gd
  microjogos/2024S1/projeto-estrela/recursos/PATÃO.png
  microjogos/2024S1/projeto-estrela/recursos/PATÃO.png.import
  microjogos/2024S1/projeto-estrela/recursos/gamutoBoia4.png
  microjogos/2024S1/projeto-estrela/recursos/gamutoBoia4.png.import
  microjogos/2024S1/projeto-estrela/recursos/laginho.png
  microjogos/2024S1/projeto-estrela/recursos/laginho.png.import
  microjogos/2024S1/projeto-estrela/recursos/patinhopix.direita.png
  microjogos/2024S1/projeto-estrela/recursos/patinhopix.direita.png.import
  microjogos/2024S1/projeto-estrela/recursos/patinhopix2.png
  microjogos/2024S1/projeto-estrela/recursos/patinhopix2.png.import
  microjogos/2024S1/projeto-estrela/recursos/quack.mp3
  microjogos/2024S1/projeto-estrela/recursos/quack.mp3.import
  microjogos/2024S1/projeto-estrela/recursos/recursos.txt
  microjogos/2024S1/projeto-estrela/recursos/sapinho.png
  microjogos/2024S1/projeto-estrela/recursos/sapinho.png.import
  microjogos/2024S1/projeto-estrela/recursos/tortuguita.png
  microjogos/2024S1/projeto-estrela/recursos/tortuguita.png.import
  microjogos/2024S1/projeto-estrela/recursos/vitória(1).png
  microjogos/2024S1/projeto-estrela/recursos/vitória(1).png.import
  microjogos/2024S1/projeto-estrela/seu projeto.txt
  principal/recursos/data/Minigames.gd
Labels: Complete minigame, Minigame Implementation

#203 Adiciona Jogo de Clara
  microjogos/2024S1/projeto-estrela/075176_duck-quack-40345.mp3.import
  microjogos/2024S1/projeto-estrela/capa.png
  microjogos/2024S1/projeto-estrela/capa.png.import
  microjogos/2024S1/projeto-estrela/cenas/cenas.txt
  microjogos/2024S1/projeto-estrela/cenas/lago.avif
  microjogos/2024S1/projeto-estrela/cenas/lago.tscn
  microjogos/2024S1/projeto-estrela/cenas/main.tscn
  microjogos/2024S1/projeto-estrela/cenas/scripts/CharacterBody2D.gd
  microjogos/2024S1/projeto-estrela/cenas/scripts/PATO.tscn
  microjogos/2024S1/projeto-estrela/cenas/scripts/boia.tscn
  microjogos/2024S1/projeto-estrela/cenas/scripts/lotad.tscn
  microjogos/2024S1/projeto-estrela/cenas/scripts/main.gd
  microjogos/2024S1/projeto-estrela/cenas/scripts/obs1.tscn
  microjogos/2024S1/projeto-estrela/cenas/scripts/obs3.tscn
  microjogos/2024S1/projeto-estrela/cenas/scripts/patinho.gd
  microjogos/2024S1/projeto-estrela/cenas/scripts/patinho.tscn
  microjogos/2024S1/projeto-estrela/cenas/scripts/scripts.txt
  microjogos/2024S1/projeto-estrela/creditos.gd
  microjogos/2024S1/projeto-estrela/recursos/PATÃO.png
  microjogos/2024S1/projeto-estrela/recursos/PATÃO.png.import
  microjogos/2024S1/projeto-estrela/recursos/gamutoBoia4.png
  microjogos/2024S1/projeto-estrela/recursos/gamutoBoia4.png.import
  microjogos/2024S1/projeto-estrela/recursos/laginho.png
  microjogos/2024S1/projeto-estrela/recursos/laginho.png.import
  microjogos/2024S1/projeto-estrela/recursos/patinhopix.direita.png
  microjogos/2024S1/projeto-estrela/recursos/patinhopix.direita.png.import
  microjogos/2024S1/projeto-estrela/recursos/patinhopix2.png
  microjogos/2024S1/projeto-estrela/recursos/patinhopix2.png.import
  microjogos/2024S1/projeto-estrela/recursos/quack.mp3
  microjogos/2024S1/projeto-estrela/recursos/quack.mp3.import
  microjogos/2024S1/projeto-estrela/recursos/recursos.txt
  microjogos/2024S1/projeto-estrela/recursos/sapinho.png
  microjogos/2024S1/projeto-estrela/recursos/sapinho.png.import
  microjogos/2024S1/projeto-estrela/recursos/tortuguita.png
  microjogos/2024S1/projeto-estrela/recursos/tortuguita.png.import
  microjogos/2024S1/projeto-estrela/recursos/vitória(1).png
  microjogos/2024S1/projeto-estrela/recursos/vitória(1).png.import
  microjogos/2024S1/projeto-estrela/seu projeto.txt
  principal/recursos/data/Minigames.gd
Labels: Complete minigame, Minigame Implementation

#189 Projeto de yago
  microjogos/2024S1/Projeto-Yago/capa.png
  microjogos/2024S1/Projeto-Yago/capa.png.import
  microjogos/2024S1/Projeto-Yago/cenas/alface.tscn
  microjogos/2024S1/Projeto-Yago/cenas/caixa.tscn
  microjogos/2024S1/Projeto-Yago/cenas/carrinho.tscn
  microjogos/2024S1/Projeto-Yago/cenas/cenas.txt
  microjogos/2024S1/Projeto-Yago/cenas/leite.tscn
  microjogos/2024S1/Projeto-Yago/cenas/main.tscn
  microjogos/2024S1/Projeto-Yago/cenas/obstaculos.tscn
  microjogos/2024S1/Projeto-Yago/cenas/ovos.tscn
  microjogos/2024S1/Projeto-Yago/cenas/paes.tscn
  microjogos/2024S1/Projeto-Yago/cenas/paredes.tscn
  microjogos/2024S1/Projeto-Yago/cenas/queijo.tscn
  microjogos/2024S1/Projeto-Yago/cenas/scripts/main.gd
  microjogos/2024S1/Projeto-Yago/cenas/scripts/obstaculo.gd
  microjogos/2024S1/Projeto-Yago/cenas/scripts/player.gd
  microjogos/2024S1/Projeto-Yago/cenas/scripts/produto.gd
  microjogos/2024S1/Projeto-Yago/cenas/scripts/scripts.txt
  microjogos/2024S1/Projeto-Yago/cenas/tomate.tscn
  microjogos/2024S1/Projeto-Yago/creditos.gd
  microjogos/2024S1/Projeto-Yago/recursos/Alface.png
  microjogos/2024S1/Projeto-Yago/recursos/Alface.png.import
  microjogos/2024S1/Projeto-Yago/recursos/Caixa.png
  microjogos/2024S1/Projeto-Yago/recursos/Caixa.png.import
  microjogos/2024S1/Projeto-Yago/recursos/Carrinho.png
  microjogos/2024S1/Projeto-Yago/recursos/Carrinho.png.import
  microjogos/2024S1/Projeto-Yago/recursos/GroundTile.png
  microjogos/2024S1/Projeto-Yago/recursos/GroundTile.png.import
  microjogos/2024S1/Projeto-Yago/recursos/Leite.png
  microjogos/2024S1/Projeto-Yago/recursos/Leite.png.import
  microjogos/2024S1/Projeto-Yago/recursos/Ovos.png
  microjogos/2024S1/Projeto-Yago/recursos/Ovos.png.import
  microjogos/2024S1/Projeto-Yago/recursos/Paes.png
  microjogos/2024S1/Projeto-Yago/recursos/Paes.png.import
  microjogos/2024S1/Projeto-Yago/recursos/Papel.jpg
  microjogos/2024S1/Projeto-Yago/recursos/Papel.jpg.import
  microjogos/2024S1/Projeto-Yago/recursos/Papel.jpg~
  microjogos/2024S1/Projeto-Yago/recursos/Parede.jpg
  microjogos/2024S1/Projeto-Yago/recursos/Parede.jpg.import
  microjogos/2024S1/Projeto-Yago/recursos/Prateleira.png
  microjogos/2024S1/Projeto-Yago/recursos/Prateleira.png.import
  microjogos/2024S1/Projeto-Yago/recursos/Queijo.png
  microjogos/2024S1/Projeto-Yago/recursos/Queijo.png.import
  microjogos/2024S1/Projeto-Yago/recursos/Tomate.png
  microjogos/2024S1/Projeto-Yago/recursos/Tomate.png.import
  microjogos/2024S1/Projeto-Yago/recursos/recursos.txt
  microjogos/2024S1/Projeto-Yago/seu projeto.txt
  microjogos/2024S1/projeto-eco-g/cenas/scripts/character_body_2d.gd
  principal/recursos/data/Minigames.gd
Labels: Complete minigame, Minigame Implementation

#170 Projeto gino
  microjogos/2024S1/ShootGamuto/amigo.aseprite
  microjogos/2024S1/ShootGamuto/amigo.png.import
  microjogos/2024S1/ShootGamuto/capa.aseprite
  microjogos/2024S1/ShootGamuto/capa.png
  microjogos/2024S1/ShootGamuto/capa.png.import
  microjogos/2024S1/ShootGamuto/cenas/Canhao2.tscn
  microjogos/2024S1/ShootGamuto/cenas/balaoBom.tscn
  microjogos/2024S1/ShootGamuto/cenas/balaoRuim.tscn
  microjogos/2024S1/ShootGamuto/cenas/cenas.txt
  microjogos/2024S1/ShootGamuto/cenas/main.tscn
  microjogos/2024S1/ShootGamuto/cenas/scripts/Canhao2.gd
  microjogos/2024S1/ShootGamuto/cenas/scripts/main.gd
  microjogos/2024S1/ShootGamuto/cenas/scripts/scripts.txt
  microjogos/2024S1/ShootGamuto/creditos.gd
  microjogos/2024S1/ShootGamuto/recursos/3fki8-02cz8.ogg
  microjogos/2024S1/ShootGamuto/recursos/3fki8-02cz8.ogg.import
  microjogos/2024S1/ShootGamuto/recursos/3fki8-02cz8/p3r68-cdx67/3fki8-02cz8.ogg
  microjogos/2024S1/ShootGamuto/recursos/3fki8-02cz8/p3r68-cdx67/3fki8-02cz8.ogg.import
  microjogos/2024S1/ShootGamuto/recursos/B2eepBox-Song.ogg
  microjogos/2024S1/ShootGamuto/recursos/B2eepBox-Song.ogg.import
  microjogos/2024S1/ShootGamuto/recursos/BeepBox-Song.ogg.import
  microjogos/2024S1/ShootGamuto/recursos/amigo.png
  microjogos/2024S1/ShootGamuto/recursos/amigo.png.import
  microjogos/2024S1/ShootGamuto/recursos/bg.png
  microjogos/2024S1/ShootGamuto/recursos/bg.png.import
  microjogos/2024S1/ShootGamuto/recursos/ilha.png
  microjogos/2024S1/ShootGamuto/recursos/ilha.png.import
  microjogos/2024S1/ShootGamuto/recursos/inimigo.png
  microjogos/2024S1/ShootGamuto/recursos/inimigo.png.import
  microjogos/2024S1/ShootGamuto/recursos/laser.wav
  microjogos/2024S1/ShootGamuto/recursos/laser.wav.import
  microjogos/2024S1/ShootGamuto/recursos/parteSuperiorTanque.png
  microjogos/2024S1/ShootGamuto/recursos/parteSuperiorTanque.png.import
  microjogos/2024S1/ShootGamuto/recursos/recursos.txt
  microjogos/2024S1/ShootGamuto/recursos/ruim.png
  microjogos/2024S1/ShootGamuto/recursos/ruim.png.import
  microjogos/2024S1/ShootGamuto/recursos/tanque.png
  microjogos/2024S1/ShootGamuto/recursos/tanque.png.import
  microjogos/2024S1/ShootGamuto/seu projeto.txt
  principal/recursos/data/Minigames.gd
Labels: Complete minigame, Minigame Implementation
