Repository moraguma/GamutoWare, pull requests merged in 2024-08, with the labels that each got.

#199 Projeto de matheus leite
  microjogos/2024S1/gamufit/capa.png
  microjogos/2024S1/gamufit/capa.png.import
  microjogos/2024S1/gamufit/capa.png~
  microjogos/2024S1/gamufit/cenas/cenas.txt
  microjogos/2024S1/gamufit/cenas/maiEA76.tmp
  microjogos/2024S1/gamufit/cenas/main.tscn
  microjogos/2024S1/gamufit/cenas/scripts/Gahulk.gd
  microjogos/2024S1/gamufit/cenas/scripts/Gamuto(icon).gd
  microjogos/2024S1/gamufit/cenas/scripts/SmallBar.gd
  microjogos/2024S1/gamufit/cenas/scripts/main.gd
  microjogos/2024S1/gamufit/cenas/scripts/scripts.txt
  microjogos/2024S1/gamufit/creditos.gd
  microjogos/2024S1/gamufit/recursos/00026.jpg
  microjogos/2024S1/gamufit/recursos/00026.jpg.import
  microjogos/2024S1/gamufit/recursos/Gamuto-the-powerlifter.ogg
  microjogos/2024S1/gamufit/recursos/Gamuto-the-powerlifter.ogg.import
  microjogos/2024S1/gamufit/recursos/SmallBar.png
  microjogos/2024S1/gamufit/recursos/SmallBar.png.import
  microjogos/2024S1/gamufit/recursos/VerticalBar.png
  microjogos/2024S1/gamufit/recursos/VerticalBar.png.import
  microjogos/2024S1/gamufit/recursos/exercising.jpg~
  microjogos/2024S1/gamufit/recursos/exercising.png
  microjogos/2024S1/gamufit/recursos/exercising.png.import
  microjogos/2024S1/gamufit/recursos/exercising.png~
  microjogos/2024S1/gamufit/recursos/gym.jpg.import
  microjogos/2024S1/gamufit/recursos/recursos.txt
  microjogos/2024S1/gamufit/recursos/suffering.png
  microjogos/2024S1/gamufit/recursos/suffering.png.import
  microjogos/2024S1/gamufit/recursos/suffering.png~
  microjogos/2024S1/gamufit/seu projeto.txt
  principal/recursos/data/Minigames.gd
Labels: Minigame Implementation

#201 Projeto de daniel
  microjogos/2024S1/projeto-danielh/capa.png
  microjogos/2024S1/projeto-danielh/capa.png.import
  microjogos/2024S1/projeto-danielh/cenas/Area2D.gd
  microjogos/2024S1/projeto-danielh/cenas/Gamuto.gd
  microjogos/2024S1/projeto-danielh/cenas/Player.gd
  microjogos/2024S1/projeto-danielh/cenas/Sprite2D.gd
  microjogos/2024S1/projeto-danielh/cenas/cenas.txt
  microjogos/2024S1/projeto-danielh/cenas/main.gd
  microjogos/2024S1/projeto-danielh/cenas/main.tscn
  microjogos/2024S1/projeto-danielh/cenas/maze1.tscn
  microjogos/2024S1/projeto-danielh/cenas/scripts/main.gd
  microjogos/2024S1/projeto-danielh/cenas/scripts/scripts.txt
  microjogos/2024S1/projeto-danielh/creditos.gd
  microjogos/2024S1/projeto-danielh/recursos/Imagens/Backgroundazul.jpg
  microjogos/2024S1/projeto-danielh/recursos/Imagens/Backgroundazul.jpg.import
  microjogos/2024S1/projeto-danielh/recursos/Imagens/Gamutobravo.png
  microjogos/2024S1/projeto-danielh/recursos/Imagens/Gamutobravo.png.import
  microjogos/2024S1/projeto-danielh/recursos/Imagens/Prisãoquebrada.xcf
  microjogos/2024S1/projeto-danielh/recursos/Imagens/Stonetile.png
  microjogos/2024S1/projeto-danielh/recursos/Imagens/Stonetile.png.import
  microjogos/2024S1/projeto-danielh/recursos/Imagens/cadeia.png
  microjogos/2024S1/projeto-danielh/recursos/Imagens/cadeia.png.import
  microjogos/2024S1/projeto-danielh/recursos/recursos.txt
  microjogos/2024S1/projeto-danielh/seu projeto.txt
  principal/cenas/Opening.tscn
  principal/recursos/data/Minigames.gd
Labels: Complete minigame, Minigame Implementation

#183 Projeto do henrique magalhaes
  microjogos/2024S1/projeto-jantinha/capa.png
  microjogos/2024S1/projeto-jantinha/capa.png.import
  microjogos/2024S1/projeto-jantinha/cenas/cenas.txt
  microjogos/2024S1/projeto-jantinha/cenas/lobo.tscn
  microjogos/2024S1/projeto-jantinha/cenas/main.tscn
  microjogos/2024S1/projeto-jantinha/cenas/ovelha.tscn
  microjogos/2024S1/projeto-jantinha/cenas/scripts/lobo.gd
  microjogos/2024S1/projeto-jantinha/cenas/scripts/main.gd
  microjogos/2024S1/projeto-jantinha/cenas/scripts/ovelha.gd
  microjogos/2024S1/projeto-jantinha/cenas/scripts/scripts.txt
  microjogos/2024S1/projeto-jantinha/creditos.gd
  microjogos/2024S1/projeto-jantinha/recursos/grama.png
  microjogos/2024S1/projeto-jantinha/recursos/grama.png.import
  microjogos/2024S1/projeto-jantinha/recursos/lobo.png
  microjogos/2024S1/projeto-jantinha/recursos/lobo.png.import
  microjogos/2024S1/projeto-jantinha/recursos/ovelha.blend
  microjogos/2024S1/projeto-jantinha/recursos/ovelha.jpg.blend
  microjogos/2024S1/projeto-jantinha/recursos/ovelha.png
  microjogos/2024S1/projeto-jantinha/recursos/ovelha.png.import
  microjogos/2024S1/projeto-jantinha/recursos/recursos.txt
  microjogos/2024S1/projeto-jantinha/recursos/wolf-growls-at-maurice-and-philippe-with-his-teeth-193235.mp3
  microjogos/2024S1/projeto-jantinha/recursos/wolf-growls-at-maurice-and-philippe-with-his-teeth-193235.mp3.import
  microjogos/2024S1/projeto-jantinha/recursos/wolf-howling-140235.mp3
  microjogos/2024S1/projeto-jantinha/recursos/wolf-howling-140235.mp3.import
  microjogos/2024S1/projeto-jantinha/seu projeto.txt
  principal/recursos/data/Minigames.gd
Labels: Minigame Implementation

#210 Projeto de fakarasz
  microjogos/2024S1/projeto-fakarasz/capa.png
  microjogos/2024S1/projeto-fakarasz/capa.png.import
  microjogos/2024S1/projeto-fakarasz/cenas/AnimationPlayer.gd
  microjogos/2024S1/projeto-fakarasz/cenas/Sprite2D4.gd
  microjogos/2024S1/projeto-fakarasz/cenas/Sprite2D5.gd
  microjogos/2024S1/projeto-fakarasz/cenas/cenas.txt
  microjogos/2024S1/projeto-fakarasz/cenas/main.tscn
  microjogos/2024S1/projeto-fakarasz/cenas/scripts/main.gd
  microjogos/2024S1/projeto-fakarasz/cenas/scripts/scripts.txt
  microjogos/2024S1/projeto-fakarasz/creditos.gd
  microjogos/2024S1/projeto-fakarasz/recursos/bola.png
  microjogos/2024S1/projeto-fakarasz/recursos/bola.png.import
  microjogos/2024S1/projeto-fakarasz/recursos/bola.png~
  microjogos/2024S1/projeto-fakarasz/recursos/cheering.mp3
  microjogos/2024S1/projeto-fakarasz/recursos/cheering.mp3.import
  microjogos/2024S1/projeto-fakarasz/recursos/gol.png
  microjogos/2024S1/projeto-fakarasz/recursos/gol.png.import
  microjogos/2024S1/projeto-fakarasz/recursos/gol.png~
  microjogos/2024S1/projeto-fakarasz/recursos/recursos.txt
  microjogos/2024S1/projeto-fakarasz/recursos/seta.png
  microjogos/2024S1/projeto-fakarasz/recursos/seta.png.import
  microjogos/2024S1/projeto-fakarasz/recursos/tela-verde-com-fundo-verde_873925-13107.avif
  microjogos/2024S1/projeto-fakarasz/seu projeto.txt
  principal/recursos/data/Minigames.gd
Labels: Minigame Implementation

#207 Projeto do felipe gayotto
  microjogos/2024S1/projeto-do-FelipeG/capa.png
  microjogos/2024S1/projeto-do-FelipeG/capa.png.import
  microjogos/2024S1/projeto-do-FelipeG/cenas/cenas.txt
  microjogos/2024S1/projeto-do-FelipeG/cenas/maiA636.tmp
  microjogos/2024S1/projeto-do-FelipeG/cenas/main.tscn
  microjogos/2024S1/projeto-do-FelipeG/cenas/scripts/Timer.gd
  microjogos/2024S1/projeto-do-FelipeG/cenas/scripts/casquinha.gd
  microjogos/2024S1/projeto-do-FelipeG/cenas/scripts/gamuto.gd
  microjogos/2024S1/projeto-do-FelipeG/cenas/scripts/main.gd
  microjogos/2024S1/projeto-do-FelipeG/cenas/scripts/scripts.txt
  microjogos/2024S1/projeto-do-FelipeG/cenas/scripts/velocidades.gd
  microjogos/2024S1/projeto-do-FelipeG/creditos.gd
  microjogos/2024S1/projeto-do-FelipeG/recursos/1.Sky_free.png
  microjogos/2024S1/projeto-do-FelipeG/recursos/1.Sky_free.png.import
  microjogos/2024S1/projeto-do-FelipeG/recursos/2.Mountains.png
  microjogos/2024S1/projeto-do-FelipeG/recursos/2.Mountains.png.import
  microjogos/2024S1/projeto-do-FelipeG/recursos/3.Trees_back.png
  microjogos/2024S1/projeto-do-FelipeG/recursos/3.Trees_back.png.import
  microjogos/2024S1/projeto-do-FelipeG/recursos/4.Groundt.png
  microjogos/2024S1/projeto-do-FelipeG/recursos/4.Groundt.png.import
  microjogos/2024S1/projeto-do-FelipeG/recursos/casquinha2.png
  microjogos/2024S1/projeto-do-FelipeG/recursos/casquinha2.png.import
  microjogos/2024S1/projeto-do-FelipeG/recursos/oculos.png
  microjogos/2024S1/projeto-do-FelipeG/recursos/oculos.png.import
  microjogos/2024S1/projeto-do-FelipeG/recursos/sorveteamarelo.png
  microjogos/2024S1/projeto-do-FelipeG/recursos/sorveteamarelo.png.import
  microjogos/2024S1/projeto-do-FelipeG/recursos/sorveteazul.png
  microjogos/2024S1/projeto-do-FelipeG/recursos/sorveteazul.png.import
  microjogos/2024S1/projeto-do-FelipeG/recursos/sorvetemarrom.png
  microjogos/2024S1/projeto-do-FelipeG/recursos/sorvetemarrom.png.import
  microjogos/2024S1/projeto-do-FelipeG/recursos/sorveterosa.png
  microjogos/2024S1/projeto-do-FelipeG/recursos/sorveterosa.png.import
  microjogos/2024S1/projeto-do-FelipeG/recursos/sorveteverde.png
  microjogos/2024S1/projeto-do-FelipeG/recursos/sorveteverde.png.import
  microjogos/2024S1/projeto-do-FelipeG/recursos/sorvetevermelho.png
  microjogos/2024S1/projeto-do-FelipeG/recursos/sorvetevermelho.png.import
  microjogos/2024S1/projeto-do-FelipeG/seu projeto.txt
  principal/recursos/data/Minigames.gd
Labels: Incomplete credits, Minigame Implementation

#212 Projeto de samuel
  microjogos/2024S1/projeto-samuel/capa.png
  microjogos/2024S1/projeto-samuel/capa.png.import
  microjogos/2024S1/projeto-samuel/cenas/cenas.txt
  microjogos/2024S1/projeto-samuel/cenas/main.tscn
  microjogos/2024S1/projeto-samuel/cenas/scripts/Area2D.gd
  microjogos/2024S1/projeto-samuel/cenas/scripts/Gamutos/Gamuto.gd
  microjogos/2024S1/projeto-samuel/cenas/scripts/Gamutos/Gamuto2.gd
  microjogos/2024S1/projeto-samuel/cenas/scripts/Gamutos/Gamuto3.gd
  microjogos/2024S1/projeto-samuel/cenas/scripts/Player.gd
  microjogos/2024S1/projeto-samuel/cenas/scripts/main.gd
  microjogos/2024S1/projeto-samuel/cenas/scripts/scripts.txt
  microjogos/2024S1/projeto-samuel/creditos.gd
  microjogos/2024S1/projeto-samuel/recursos/Sound/Ela_e_tao_tudo.ogg
  microjogos/2024S1/projeto-samuel/recursos/Sound/Ela_e_tao_tudo.ogg.import
  microjogos/2024S1/projeto-samuel/recursos/Sound/Yay.ogg
  microjogos/2024S1/projeto-samuel/recursos/Sound/Yay.ogg.import
  microjogos/2024S1/projeto-samuel/recursos/Sprites/Fundo2.png
  microjogos/2024S1/projeto-samuel/recursos/Sprites/Fundo2.png.import
  microjogos/2024S1/projeto-samuel/recursos/Sprites/Gamuto0.png
  microjogos/2024S1/projeto-samuel/recursos/Sprites/Gamuto0.png.import
  microjogos/2024S1/projeto-samuel/recursos/Sprites/Gamuto1.png
  microjogos/2024S1/projeto-samuel/recursos/Sprites/Gamuto1.png.import
  microjogos/2024S1/projeto-samuel/recursos/Sprites/Piaui_sprite.png
  microjogos/2024S1/projeto-samuel/recursos/Sprites/Piaui_sprite.png.import
  microjogos/2024S1/projeto-samuel/recursos/Sprites/Piaui_sprite_vitoria.png
  microjogos/2024S1/projeto-samuel/recursos/Sprites/Piaui_sprite_vitoria.png.import
  microjogos/2024S1/projeto-samuel/seu projeto.txt
  principal/recursos/data/Minigames.gd
Labels: Minigame Implementation

#208 Projeto de leticia gomes
  microjogos/2024S1/projeto-leticia/capa.png
  microjogos/2024S1/projeto-leticia/capa.png.import
  microjogos/2024S1/projeto-leticia/cenas/carro_policia.tscn
  microjogos/2024S1/projeto-leticia/cenas/carro_principal.tscn
  microjogos/2024S1/projeto-leticia/cenas/cenas.txt
  microjogos/2024S1/projeto-leticia/cenas/main.tscn
  microjogos/2024S1/projeto-leticia/cenas/scripts/ParallaxBackground.gd
  microjogos/2024S1/projeto-leticia/cenas/scripts/carro_policia.gd
  microjogos/2024S1/projeto-leticia/cenas/scripts/carro_principal.gd
  microjogos/2024S1/projeto-leticia/cenas/scripts/main.gd
  microjogos/2024S1/projeto-leticia/cenas/scripts/scripts.txt
  microjogos/2024S1/projeto-leticia/creditos.gd
  microjogos/2024S1/projeto-leticia/recursos/back.png
  microjogos/2024S1/projeto-leticia/recursos/back.png.import
  microjogos/2024S1/projeto-leticia/recursos/buildings.png
  microjogos/2024S1/projeto-leticia/recursos/buildings.png.import
  microjogos/2024S1/projeto-leticia/recursos/carro policia.png
  microjogos/2024S1/projeto-leticia/recursos/carro policia.png.import
  microjogos/2024S1/projeto-leticia/recursos/carro_azul.png
  microjogos/2024S1/projeto-leticia/recursos/carro_azul.png.import
  microjogos/2024S1/projeto-leticia/recursos/highway.png
  microjogos/2024S1/projeto-leticia/recursos/highway.png.import
  microjogos/2024S1/projeto-leticia/recursos/lofi.mp3.import
  microjogos/2024S1/projeto-leticia/recursos/lofi.ogg
  microjogos/2024S1/projeto-leticia/recursos/lofi.ogg.import
  microjogos/2024S1/projeto-leticia/seu projeto.txt
  principal/recursos/data/Minigames.gd
Labels: Minigame Implementation

#213 Rebalance random position in Piaui
  microjogos/2024S1/projeto-samuel/cenas/scripts/Gamutos/Gamuto.gd
Labels: Enhancement

#215 Fix sizing for Lari without Coffee game
  microjogos/2024S1/lari-sem-cafe/cenas/scripts/main.gd
Labels: Bug

#214 Fix win signal in jantinha
  microjogos/2024S1/projeto-jantinha/cenas/main.tscn
  microjogos/2024S1/projeto-jantinha/cenas/scripts/ovelha.gd
Labels: Bug

#216 Fixes collection bug
  principal/cenas/MinigameDisplay.tscn
Labels: Bug
